# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.gitignore
.claude
.claude/
.claude/*
.claude/**/*
.vscode/

sii-decryptsharp-main/
SCSHub-master/

src/components/settings/appearance-tab.tsx.bak
src/components/models/savemanager.tsx.bak
commit.cmd
docs
docs/
docs/*
docs/**/*